//ABOUT-ME//
//computerscherm max 1200 and landscape table
@media (min-width: 769px){
    .photo {
        /* The image used */
        background-image: url("../img/horloge-photo.jpeg");

        /* Set a specific height */
        min-height: 500px; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    .main-about-me{
        height:auto;
        background-color:$bcgr-about-me;
        font-size:1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .container-aboutme{
        margin: 0 10em 0 10em;
    }
    .title-about-me{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-family: $header-l-text;
        color:$text-color;
        text-align: center;
        padding-top: 2rem; 
        padding-bottom: 2rem;
        width: 100%; 
    }
    .boxen-about-me{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 3rem;

        .box-about-me{
            align-items: center;
            font-family: $header-l-text;
            font-size: 1rem;
            width: 45%;
            color:$text-color; 
        }
        .box-about-me-again{
            font-family: $header-l-text;
            font-size: 1rem;
            width: 45%;
            color:$text-color; 
        }
    }
}
//tablet landscape, staat bij schermgrootte 1200

//tablet and smartphone landscape
@media screen and (min-width: 321px) and (max-width: 768px){
    .photo {
        /* The image used */
        background-image: url("../img/horloge-photo.jpeg");

        /* Set a specific height */
        min-height: 300px; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    .main-about-me{
        height:auto;
        background-color:$bcgr-about-me;
        font-size:1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .container-aboutme{
        margin: 0 3em 0 3em;
    }
    .title-about-me{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-family: $header-l-text;
        color:$text-color;
        text-align: center;
        padding-top: 2rem; 
        padding-bottom: 2rem;
        width: 100%; 
    }
    .boxen-about-me{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        //padding-bottom: 3rem;

        .box-about-me{
            align-items: center;
            font-family: $header-l-text;
            font-size: 1rem;
            width: 45%;
            color:$text-color; 
        }
        .box-about-me-again{
            font-family: $header-l-text;
            font-size: 1rem;
            width: 45%;
            color:$text-color; 
        }
    }
} 
//smartphone landscape staat bij tablet

//smartphone
@media screen and (max-width: 320px){
    .photo {
        /* The image used */
        background-image: url("../img/horloge-photo.jpeg");

        /* Set a specific height */
        min-height: 50vh; 
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    .main-about-me{
        height:auto;
        background-color:$bcgr-about-me;
        font-size:1rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .container-aboutme{
        margin: 0 0.8em 0 0.8em;
    }
    .title-about-me{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: $header-l-text;
        color:$text-color;
        text-align: center;
        padding-bottom: 2rem;
        width: 100%; 
    }
    .boxen-about-me{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        //padding-bottom: 3rem;

        .box-about-me{
            align-items: center;
            font-family: $header-l-text;
            font-size: 1rem;
            width: 45%;
            color:$text-color; 
        }
        .box-about-me-again{
            font-family: $header-l-text;
            font-size: 1rem;
            width: 45%;
            color:$text-color; 
        }
    }
}