*{
    margin: 0;
    padding: 0;
    //box-sizing: inherit;
    box-sizing: border-box;
}
input, select {
    vertical-align: middle;
}
head{
    min-height: 100%;
}
body{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    min-height: 100%;
}
html{
    min-height: 100%;
}
h1{
    font-size: 0;
    font-weight: normal;
}
// @media screen and (max-width: 320px) smartphone
// @media screen and (min-width: 321px) and (max-width: 568px) smartphone landscape
// @media screen and (min-width: 569px) and (max-width: 768px) tablet
// @media screen and (min-width: 769px) and (max-width: 1024px) tablet landscape
// @media screen and (min-width: 1025px) and (max-width: 1200px) klein computerscherm
// @media screen and (min-width: 1201px) and (max-width: 1920px) groot computerscherm


