//computerscherm max 1200
@media (min-width: 769px){
    .photo-contact {
        /* The image used */
        background-image: url("../img/background-5.jpg");
        /* Set a specific height */
        min-height: 100vh; 
        position: relative;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        width: 100%;
    }
    .section-contact{
        // position: absolute;
        display: flex;
        height: 65.5vh;
        width: 100%;
        background: $bcgr-transp;
        margin-top: 16rem;
        justify-content: flex-end; 
    }
    .container-contact{
        margin: 0 10em 0 10em;
    }
    .box-contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        height: 13rem;
        margin-top: 10rem;
    }
    .info-contact{
        background-color :$bcgr-dark-box;
        padding: 10px;
        h1{
            font-family: $header-l-text;
            font-size: 3rem;
            color: $text-dark-box;
            padding-left: 1rem;
        }
        p{
            font-family: $header-l-text;
            font-size: 1.4rem;
            color: $text-dark-box;
            padding-left: 2rem;
            padding-right: 1rem;
            letter-spacing: 0.3rem;
        }  
    }
}

//tablet and smartphone landscape
@media screen and (min-width: 321px) and (max-width: 768px){
    .photo-contact {
        /* The image used */
        background-image: url("../img/background-5.jpg");
        /* Set a specific height */
        min-height: 100vh; 
        position: relative;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        width: 100%;
    }
    .section-contact{
        // position: absolute;
        display: flex;
        height: 65.5vh;
        width: 100%;
        background: $bcgr-transp;
        //margin-top: 16rem;
        justify-content: flex-end; 
    }
    .container-contact{
        margin: 0 3em 0 3em;
    }
    .box-contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        margin-top: 5rem;
    }
    .info-contact{
        background-color :#292426;
        padding: 5px;
        h1{
            font-family: $header-l-text;
            font-size: 1.5rem;
            color: $text-dark-box;
            padding-left: 0.5rem;
        }
        p{
            font-family: $header-l-text;
            font-size: 1rem;
            color: $text-dark-box;
            padding-left: 2rem;
            padding-right: 1rem;
        }  
    }
}

//smartphone landscape staat bij tablet

//smartphone
@media screen and (max-width: 320px){
    .photo-contact {
        /* The image used */
        background-image: url("../img/background-5.jpg");
        /* Set a specific height */
        min-height: 100vh; 
        position: relative;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        width: 100%;
    }
    .section-contact{
        position: absolute;
        display: flex;
        height: 65.5vh;
        width: 100%;
        background: $bcgr-transp;
        //margin-top: 16rem;
        justify-content: flex-end; 
    }
    .container-contact{
        margin: 0 0.8em 0 0.8em;
    }
    .box-contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 30%;
        margin-top: 5rem;
    }
    .info-contact{
        background-color :#292426;
        //padding: 5px;
        h1{
            font-family: $header-l-text;
            font-size: 1.5rem;
            color: $text-dark-box;
            padding-left: 0.5rem;
        }
        p{
            font-family: $header-l-text;
            font-size: 1rem;
            color: $text-dark-box;
            padding-left: 2rem;
            padding-right: 1rem;
        }  
    }

}

