.container-down{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: pink;
    // background-color: $header-l-text;
}
.list-down{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size:1rem; 
    }
    li{
        display: flex;
        list-style-type: none;
        color: black;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

  