//computerscherm max 1200 and landscape tablet and tablet and smartphone landscape
@media (min-width: 321px){
    .container-down{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: $bcgr-footer;
    }
    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 3vh;
    }
    .list-down{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding-bottom: 4vh;
        ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            font-size:1rem; 
        }
        li{
            display: flex;
            list-style-type: none;
            color: $text-color;
            margin-left: 4rem;
            margin-right: 4rem;
            font-family: $header-l-text;
            color: $text-color;
            :hover{
                color: rgb(216, 159, 159);
            }
        }
    }
}
//tablet landscape, staat bij schermgrootte 1200

//tablet, staat bij schermgrootte 1200

//smartphone landscape staat bij tablet

//smartphone
@media screen and (max-width: 320px){
    .container-down{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: $bcgr-footer;
    }
    .logo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 3vh;
    }
    .list-down{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        padding-top: 5vh;
        padding-bottom: 5vh;
        ul{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            font-size:1rem; 
        }
        li{
            display: flex;
            list-style-type: none;
            color: black;
            font-family: $header-l-text;
            color: $text-color;
            margin-left: 0.8rem;
            :hover{
                color: rgb(216, 159, 159);
            }
        }
    }

}



/*aanpassen voor tablet-S*/
// @media screen and (max-width: 320px){
//     .list-down{
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: row;
//         justify-content: center;
//         width: 100%;
//         padding-top: 3vh;
//         padding-bottom: 3vh;
//         ul{
//             display: flex;
//             flex-wrap: wrap;
//             flex-direction: row;
//             font-size:1rem; 
//         }
//         li{
//             display: flex;
//             list-style-type: none;
//             color: black;
//             margin-left: 4rem;
//             margin-right: 4rem;
//             font-family: $header-l-text;
//             :hover{
//                 color: rgb(216, 159, 159);
//             }
//         }
//     } 
// }

  