.photo {
    /* The image used */
    background-image: url("../img/background-1.jpg");

    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
.main-about-me{
    height:auto;
    background-color:lightgray;
    font-size:1rem;
}
.title-about-me{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: $header-l-text;
    text-align: center;
    padding-top: 2rem; 
    width: 100%; 
}
.boxen-about-me{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 3rem;

    .box-about-me{
        align-items: center;
        font-family: $header-l-text;
        font-size: 1rem;
        width: 45%;
        padding-left: 2.4rem;
    }
    .box-about-me-again{
        font-family: $header-l-text;
        font-size: 1rem;
        width: 45%;
       padding-right: 2.4rem;
    }
}




