@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap'); //tekst naam katrien
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans+Condensed:300&display=swap');
.navbar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.name{
    width: 40%;
    font-size: 5rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-family: $header-l-text;
    margin-left: 40px;
    letter-spacing: 10px;
}
.btn-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    padding-top: 50px; 
    font-family: $btn-nav;
    
    ul{
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
    } 
    li{
        display: flex;
        list-style-type: none;
        padding-left: 40px;
        margin-left: 70px;
       
    }
}