.container-portfolio{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.title-portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: $header-l-text;
    text-align: center;
    padding-top: 2rem; 
    padding-bottom: 1rem;
    width: 100%; 
}
.boxen-portfolio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    height: auto;
    width: 100%;
}
.grid, .flexbox, .flexbox-Grid, .bootstrap{
    margin-left: 10px;
    text-align: center; 
    width: 20%;
    padding-top: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    p{
        font-family: $header-l-text;
        font-size: 2rem;
    }
}



