//computerscherm max 1200 and landscape table
@media (min-width: 769px){
    .container-portfolio{
        width: 100%;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .container-prt-all{
        margin: 0 10em 0 10em;
    }
    .title-portfolio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-family: $header-l-text;
        color: $text-title-color;
        text-align: center;
        padding-top: 2rem; 
        padding-bottom: 2rem;
        width: 100%; 
    }

    .slideshow-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3rem;
        height: auto;
        width: 100%;
    }
    .mySlides{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center; 
        padding: 1.0rem;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    img{
        width: 180px;
        height: 150px;
    }
        .p{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: $header-l-text;
            color: $text-color;
            font-size: 2rem;
        }
    }
    .textinformation{
        color: $text-color;
        font-family: $header-l-text;
        padding: 0 40px;
    }
.pijlen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}
/* Next & previous buttons */
.prev, .next {
    display: flex;
    text-align: center;
    cursor: pointer;
    /*position: absolute;*/
    top: 100%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:  rgb(216, 159, 159);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
  }

  /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  .textinformation{
      display: flex;
      justify-content: space-evenly;
  }
}

//tablet landscape, staat bij schermgrootte 1200

//tablet and smartphone landscape
@media screen and (min-width: 321px) and (max-width: 768px){
    .container-portfolio{
        width: 100%;
        height: auto;
    }
    .container-prt-all{
        margin: 0 3em 0 3em;
    }
    .title-portfolio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-family: $header-l-text;
        color: $text-color;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 2rem; 
        width: 100%; 
    }
    .slideshow-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3rem;
        height: auto;
        width: 100%;
    }
    .mySlides{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center; 
        padding: 1.0rem;
        margin-top: 0.5rem;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    img{
        width: 150px;
        height: 130px;
    }
    .p{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: $header-l-text;
            color: $text-color;
            font-size: 2rem;
        }
    }
.textinformation{
    color: $text-color;
    font-family: $header-l-text;
    padding: 0 40px;
}
.pijlen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
}
/* Next & previous buttons */
.prev, .next {
    display: flex;
    text-align: center;
    cursor: pointer;
    /*position: absolute;*/
    top: 100%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color:  rgb(216, 159, 159);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none; 
  }

  /* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
}
//smartphone landscape staat bij tablet


//smartphone
@media screen and (max-width: 320px){
    .container-portfolio{
        width: 100%;
        height: auto;
    }
    .container-prt-all{
        margin: 0 0.8em 0 0.8em;
    }
    .title-portfolio{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: $header-l-text;
        color: $text-color;
        text-align: center;
        padding-top: 0.5rem;
        padding-bottom: 2rem; 
        width: 100%; 
    }
    .slideshow-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3rem;
        height: auto;
        width: 100%;
    }
    .mySlides{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center; 
        padding: 1.0rem;
        margin-top: 0.5rem;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    img{
        width: 100px;
        height: 80px;
    }
        .p{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-evenly;
            font-family: $header-l-text;
            color: $text-color;
            font-size: 1rem;
        }
    }
    .textinformation{
        color: $text-color;
        font-family: $header-l-text;
        padding: 0 40px;
    }
    .pijlen{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2rem;
    }
    /* Next & previous buttons */
    .prev, .next {
        display: flex;
        text-align: center;
        cursor: pointer;
        /*position: absolute;*/
        top: 100%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color:  rgb(216, 159, 159);
        font-weight: bold;
        font-size: 16px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none; 
      }
    
      /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 10px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
}