//font//
$header-l-text: 'Open Sans Condensed', sans-serif;//font teksten//
$btn-nav: 'Nanum Gothic', sans-serif;//font nav knoppen//
//kleur teksten//
$text-color: #000000; //kleur gewone teksten//
$text-title-color: #000000; //kleur grote tekst//
$text-dark-box: #FFFFFF; //kleur tekst in donkere box//
//background transparant gedeelte contact//
$bcgr-transp: rgb(250, 242, 242,0.5);
$bcgr-about-me: rgb(250, 242, 242);