@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Open+Sans+Condensed:300&display=swap");
* {
  margin: 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

head {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  min-height: 100%;
}

html {
  min-height: 100%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-image: linear-gradient(180deg, white, rgba(255, 255, 255, 0.5));
  align-items: flex-start;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.name {
  width: 40%;
  font-size: 5rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
  margin-left: 40px;
  letter-spacing: 10px;
  color: #000000;
}

.btn-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 50px;
  font-family: "Nanum Gothic", sans-serif;
  width: 100%;
  justify-content: flex-end;
}
.btn-nav ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 1rem;
}
.btn-nav li {
  display: flex;
  list-style-type: none;
  padding-left: 40px;
  margin-left: 115px;
  padding-right: 40px;
  padding-bottom: 10px;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.photo {
  /* The image used */
  background-image: url("../img/horloge-photo.jpeg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-about-me {
  height: auto;
  background-color: #faf2f2;
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title-about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  padding-top: 2rem;
  width: 100%;
}

.boxen-about-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.boxen-about-me .box-about-me {
  align-items: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  width: 45%;
  padding-left: 2.4rem;
}
.boxen-about-me .box-about-me-again {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
  width: 45%;
  padding-right: 2.4rem;
}

.container-portfolio {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10px;
  width: 100%;
}

.boxen-portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  height: auto;
  width: 100%;
}

.grid, .flexbox, .flexbox-Grid, .bootstrap {
  margin-left: 10px;
  text-align: center;
  width: 20%;
  padding-top: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.grid p, .flexbox p, .flexbox-Grid p, .bootstrap p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2rem;
}

.photo-contact {
  /* The image used */
  background-image: url("../img/background-5.jpg");
  /* Set a specific height */
  min-height: 100vh;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-contact {
  position: absolute;
  display: flex;
  height: 60vh;
  width: 100%;
  background: rgba(250, 242, 242, 0.5);
  margin-top: 300px;
  justify-content: flex-end;
}

.box-contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #000000;
  width: 30%;
  height: 200px;
  margin-right: 40px;
  margin-top: 200px;
}

.info-contact h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  padding-left: 30px;
}
.info-contact p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.4rem;
  color: #FFFFFF;
  padding-left: 30px;
  letter-spacing: 5px;
}

.container-down {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-color: "Open Sans Condensed", sans-serif;
}

.list-down {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.list-down ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 2rem;
  justify-content: center;
  border: 1px solid black;
}
.list-down li {
  display: flex;
  list-style-type: none;
  color: black;
}

/*# sourceMappingURL=main.css.map */
